body{
    background-color: black;
}
.clock{
    position:absolute;
    top:50%;
    left:50%;
    font-size: 5rem;
    transform: translateX(-50%) translateY(-50%);
    color:cyan;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
    box-shadow: 1px 1px 50px;
    border-radius: 10px;
}
